<div class="d-flex text-center" >
<form class="form-control" action="answer" data-turbo="false" method="get">
  <label for="qs">Type a q for coach</label>
  <input id="qs" type="text" name="answer" placeholder= "enter..">
  <input type="submit" value="Ask!">
</form>
</div>
